<legend>Create/Update Products</legend>

<div class="row">
    <div class="span6" data-ng-show="OperationResultMessage != null">
        <div data-alert-tbs=""
            data-message-data="OperationResultMessage"
            data-hide-in="5">
        </div>
    </div>
</div>

<form name="frmProduct" class=" well">
    <div class="row">
        <div class="span4">
            <input type="text" class="input-xlarge" id="inputProductName" placeholder="Name" data-ng-model="Product.Name" value="{{Product.Name}}" required>

            <input type="text" class=" search-query" name="filterByCategory" data-ng-model="filterByCategory" placeholder="category filter" />
            <div class="scrollableList300">
                <ul class="unstyled">
                    <li data-ng-repeat="category in CategoriesList | filter : filterByCategory">
                        <label>
                            <input type="checkbox" data-ng-model="category.Checked" />
                            <span>{{category.Name}}</span>
                        </label>
                    </li>
                </ul>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="{{Labels.btnSave}}" class="btn btn-primary" data-ng-disabled="!frmProduct.$valid " data-ng-class="{disabled: !frmProduct.$valid}" data-ng-click="btnSave_Click()" />
                    <input type="submit" value="Delete" class="btn  btn-small" data-ng-disabled="!Product.Id" data-ng-class="{disabled:!Product.Id}" data-ng-click="btnDelete_Click()" />
                    <input type="button" value="Clear" class="btn btn-link  btn-small" data-ng-disabled="!Product.Name" data-ng-click="btnClear_Click()" />
                </div>
            </div>
        </div>
        <div class="span4">
            <input type="text" class="search-query" name="filterByName" data-ng-model="filterByName" placeholder="name filter" />
            <table id="categoriesList" class="table table-striped table-bordered table-condensed" style="width: 100%">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody class="scrollableList300">
                    <tr data-ng-repeat="product in ProductsList | filter: filterByName">
                        <td data-ng-click="SelectProductForUpdate(product)"><span>{{product.Name}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="control-group">
        <div class="controls">
        </div>
    </div>
</form>
